.card{
    background-color: cyan; 
    width: 400px; 
    padding: 20px; 
    border: solid 2px purple; 
    border-radius: 5px; 
    margin-top: 20px;
    font-family: monospace;
}

.avatar {
    background-color: blueviolet; 
    width: 50px; 
    height: 50px; 
    border-radius: 50px;
}

.destaque {
    color:blueviolet;
}